<md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <nav *ngFor="let group of componentGroups" >
            <h3> {{group.name}} </h3>
            <ul>
                <li *ngFor="let component of group.components">
                    <a routerLink="{{component.routeLink}}"> {{component.name}} </a>
                </li>
            </ul>
        </nav>
    </md-sidenav>

    <div class="my-content">
        <router-outlet></router-outlet>
    </div>
    


</md-sidenav-container>